    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is yoga?</h2>
                <p>According to the sage, Patanjali, Yoga is the cessation of the fluctuations of the mind. Yoga is a disciplined study: an art; a science; a therapy.
				   Yoga is an encompassing devotion that nurtures the mental, spiritual, and emotional aspects of the person as well as one that affects every system of the physical body.</p>
                <h2>What is Iyengar yoga?</h2>
                <p>Iyengar yoga is the method of study of the eight-limbed path devised and taught by <a href="http://www.bksiyengar.com/default.asp">B.K.S. Iyengar</a>.
				   With wisdom and insight, Mr Iyengar developed a method of teaching that emphasizes precision and attention given to placement of the body in asanas (poses) and of the breath in pranayama (control of breath).
				   Mr. Iyengar also popularized the use of props (mat, wall, block, blanket, ropes, chair) to assist the student in understanding the effect of each pose, with proper attention to the individual student's current flexibility and strength.
				   This method of adaptation makes Iyengar yoga ideal for each and every person, regardless of age, weight, health condition, or ability.
		<h2>Anna Rain</h2>
                <p>Anna Rain is a certified Iyengar yoa teacher at the Intermediate Jr. II level. She has been studying in the Iyengar with <a href="http://www.centerforwellbeing.net/yoga.html">Rebecca and Dean Lerner</a> since 1994 and regularly studies at the Ramamani Iyengar Memorial Institute (RIMYI) in Pune, India.</p>
            </div>
        </div>
    </section>
