    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is yoga?</h2>
                <p>According to the sage Patanjali, Yoga is the cessation of the fluctuations of the mind.
		   Yoga is a disciplined study: an art; a science; a therapy.
		   Yoga is an encompassing devotion that nurtures the mental, spiritual, and emotional aspects
		   of the person as well as one that affects every system of the physical body.</p>
                
		<h2>What is Iyengar yoga?</h2>
		 <p>Iyengar Yoga, originated by BKS Iyengar (1918-2014), is known for two main ideas: use of props; precision of instruction.</p>
		 <p>BKS Iyengar was the first practitioner-teacher to address the fact that each person has a certain range of
		    flexibility, and that if a student’s body cannot perform the classic pose unassisted, the student does not
		    receive the full benefit of the pose.  BKS introduced props to aid the student’s understanding and execution of
	            the pose (a block, for example, to make the floor higher for the down hand in Uttitha Trikonasana—triangle pose).</p>
		    <p></p>
		 <p>The careful use of props as directed by an Iyengar yoga instructor means that the practice of asana
		   (postures; control of the physical body, the third limb of the study of yoga) is available to every person,
		   regardless of ability, weight, age, or flexibility.  Props are used for greater understanding of each pose,
		   with the intent that over time and if appropriate, the student will be able to perform the pose with less and
		   less assistance.</p>
		    <p></p>
		 <p>Iyengar yoga is also characterized by very precise instruction.  When we learn in this method, we stay in
		    the poses for longer, and we attend to specific actions in the pose so that we come to understand the pose with
		    intelligence.  For instance, some points of instruction in Virabhadrasana II (warrior II pose) might be: 
		    “Press the outer back foot down and lift the inner back thigh.  Maintain those actions as you lift both sides
		    of the torso evenly to make the torso vertical like Tadasana.”</p>
		    <p></p>
		  <p>This precise instruction has many benefits.  Here are three of them:</p>
			<ul class="a">
				<li>the chance of injury can be reduced by the student’s learning careful and attentive action from the beginning of study</li>
				<li>the attention given to specific actions leads the practitioner deep into the experience of her/his own body</li>
				<li>the skill of inwardly directed focus that results assists the student in the mastering of the rest of the limbs of yoga (control of the breath; withdrawal of the senses; concentration; meditation; enlightenment)</li>
		    </ul>
		  
		<p></p>
		<p>The study of Iyengar yoga brings discipline, freedom, and joy—in body, mind, soul, and breath—to those who practice it.</p>
		<p></p>
		    <p>For more information on Iyengar yoga, visit <a href=www.iynaus.org>www.iynaus.org</a>.</p>  
		    
		<h2>Anna Rain</h2>
                <p>I have practiced Iyengar yoga since 1994, I began teaching in 2000, and I have passed four levels of rigorous
		   assessment to hold currently the level of Junior Intermediate II.  To improve the art and science of my teaching,
		   I work with <a href="http://www.centerforwellbeing.net/yoga.html">Dean and Rebecca Lerner</a> regularly,
		   and I visit the Ramamani Iyengar Memorial Yoga Institute (RIMYI) in Pune, India every two years.</p>

		</div>
        </div>
    </section>
