    <!-- Instruction Section -->
    <section id="instruction" class="content-section text-center">
        <div class="instruction-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Instruction Information</h2>
                    <p>All classes are held at <a href="http://www.whitelotuswellnesscenter.org/">White Lotus Wellness Center</a>
			    <i><b>Annex</b></i>, 8607 Rhode Island Ave., College Park, MD</p>
	            <p>The White Lotus Annex is a beige house with green trim diagonal to and across the side street from
			    the original White Lotus building, at corner of Roanoke; enter from side door</p>
					
                    <h3>Fall 2017 Series</h3>					
			<div class="contatiner">
				<table style="table-layout: fixed; width: 100%">
					<thead>
						<th>Day</th>
						<th>Time</th>
						<th>Level</th>
						<th>Dates</th>
					</thead>
					<tbody>
						<tr>
							<td>Mondays</td>
							<td>4:30-6:00 p.m.</td>
							<td>Mixed Levels</td>
							<td style="word-wrap: break-word">Sept 11, 18, 25 <br> Oct 2, 9, 16, 23 <br> Nov 27 <br> Dec 4, 11, 18</td>
						</tr>
						<tr>
							<td>Mondays</td>
							<td>6:15-7:45 p.m.</td>
							<td>Intro then Level I</td>
							<td>Sept <b>11, 18, 25</b> | Oct <b>2</b>, 9, 16, 23 | Nov 27 | Dec 4, 11, 18</td>
						</tr>
						<tr>
							<td>Tuesdays</td>
							<td>10-11:30 a.m.</td>
							<td>Level I</td>
							<td>Sept 12, 19, 26 | Oct 3, 10, 17, 24 | Nov 28 | Dec 5, 12, 19</td>
						</tr>
						<tr>
							<td>Thursdays</td>
							<td>9:30-11 a.m.</td>
							<td>60+ and friends</td>
							<td>Sept 7, 14, 21, 28 | Oct 5, 12, 19 | Nov 30 | Dec 7, 14</td>
						</tr>
						<tr>
							<td>Thursdays</td>
							<td>6:15-7:45 p.m.</td>
							<td>Level I</td>
							<td>Sept 7, 14, 21, 28 | Oct 5, 12, 19 | Nov 30 | Dec 7, 14</td>
						</tr>
						<tr>
							<td>Thursdays</td>
							<td>8-9:30 p.m.</td>
							<td>Level II</td>
							<td>Sept 7, 14, 21, 28 | Oct 5, 12, 19 | Nov 30 | Dec 7, 14</td>
						</tr>
					</tbody>
				</table>
			</div>
	
<p><b>NB:</b> For the first four weeks, the Monday 6:15 class will be an introductory level class (see bold face dates), then will become a Level I class on May 8. Continuing students are welcome to the introductory class.</p>

<p><b>Special Workshops and/or Pranayama</b> -- Sunday afteroons, tentative; time and cost TBD</p>
			

			
<h3>Cost</h3>
<p>4 week intro series, $52; 11 week session $165, paid in advance buys 12 classes. 
All others pay what you can: $16-18 per class suggested. 
Payment is accepted in cash or check made out to Anna Rain.
<p>This session ends Tuesday, December 19.<i><b>No credit will be carried over to the the next session.</b></i></p>
<p><i>Please</i> see me if you need assistance paying for classes.</p>
		    
<p><b>Inspire and deepen your home practice!</b> Private instruction—in your home, at your convenience, with focus on your goals:
$80 an hour (plus $20/hr travel time over 15 minutes). Group instruction (up to 5 people) is $120 for 90 minutes. </p>
                </div>
            </div>
        </div>
    </section>
