    <!-- Instruction Section -->
    <section id="instruction" class="content-section text-center">
        <div class="instruction-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Instruction Information</h2>
                    <p>All classes are held at <a href=" http://www.joesmovement.org/">Joe's Movement Emporium</a>, 3309 Bunker Hill Rd., Mt. Rainier, MD 20712</p>
                    
                </div>
            </div>
        </div>
    </section>