    <!-- Instruction Section -->
    <section id="instruction" class="content-section text-center">
        <div class="instruction-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Instruction Information</h2>
                    <p>All classes are held at <a href="http://www.whitelotuswellnesscenter.org/">White Lotus Wellness Center</a> Annex,
                    8607 Rhode Island Ave., College Park, MD</p>
					
                    <h3>Spring 2017 Series</h3>					
			<div class="contatiner">
				<table>
					<thead>
						<th>Day</th>
						<th>Time</th>
						<th>Level</th>
						<th>Dates</th>
					</thead>
					<tbody>
						<tr>
							<td>Mondays</td>
							<td>9-10:30 a.m.</td>
							<td>Level I/II</td>
							<td>April 10, 17, 24 | May 1, 8, 15, 22, 29 | Jun 5</td>
						</tr>
					</tbody>
				</table>
			</div>
	
<p>NB: For the first four weeks, the Monday 6:15 class will be an introductory level class (see bold face dates), then will become a Level I class on Oct 12. Continuing students are welcome to the introductory class.</p>

<h3>Cost</h3>
<p>4 week intro series, $52; 8 week session, $120, paid in advance buys 9 classes. 
All others pay what you can: $16-18 per class suggested. 
Payment is accepted in cash or check made out to Anna Rain.
<i>Please</i> see me if you need assistance paying for classes.</p>
<p><i><b>No credit will be carried over to the the next session.</b></i></p>

<p><b>Inspire and deepen your home practice!</b> Private instruction—in your home, at your convenience, with focus on your goals:
$80 an hour (plus $20/hr travel time over 15 minutes). Group instruction (up to 5 people) is $120 for 90 minutes. </p>
                </div>
            </div>
        </div>
    </section>
